extend wrapper

block content
  .container-fluid
    .row-fluid
      h1  Welcome to Master Board
    .row-fluid
      div.card
        .card-body
          h5.card-title  Welcome to Master Board
          p.card-text We've stated with the blanks
