extend ../wrapper

block gameWrapper
  nav.sidebar.active#sidebar
    ul.sidebar-nav.mb-5
      li.nav-item.active
        a.nav-link(href="/game") Game News
        a.nav-link(href="/game/profile") My Character
        a.nav-link(href="/game/contacts") Contacts
        a.nav-link(href="/messages") Communication

block content
