extend wrapper

block content
  .container-fluid
    .row-fluid
      h1  Upcoming events
    .row-fluid
      .card
        .card-header
          h6 Fri 5th Jun 2020
        .card-body
          h5.card-title Witcher. Hidden King
          p.card-text This is weekend game
          a.btn.btn-primary(href="/game/3/apply") Apply
      .card
        .card-body
          h5.card-title Harry Potter. Hidden Pampers
          p.card-text This is weekend game
          a.btn.btn-primary(href="/game/2") Enter
    .row-fluid
      .card
        .card-header
          h6 Fri 12th Jun 2020
        .card-body
          h5.card-title Hobbit. In and Out
          p.card-text This is weekend game
          a.btn.btn-primary(href="/game/4") Apply
