extend wrapper

block content
  .container-fluid
    .row-fluid
      h1  Upcoming events
    .row-fluid
      div.card
        .card-body
          h5.card-title How to start the game
          p.card-text Here will be guide how to use me
