extend layout

block wrapper
  nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
    a.navbar-brand(href="/home") MasterBoard
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#navbarMenu" aria-control="navbarMenu" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbarMenu
      ul.navbar-nav.mr-auto.mt-2.mt-lg-0
        li.nav-item.active
          a.nav-link(href="/home") News
        li.nav-item
          a.nav-link(href="/home/calendar") Game Calendar
        li.nav-item
          a.nav-link(href="/home/games") My Games
      ul.navbar-nav.my-2.my-lg-0
        li.nav-item
          a.nav-link(href="/home/profile") Profile
        li.nav-item
          a.nav-link(href="/logout") Sign Out

  block content
